@import './_app.css';

footer {
  padding: 0 29rem;
}

footer .footerInner {
  border-top: 1px solid var(--footer-border-top-color);
  padding-top: 29rem;
  text-align: center;
}

@media screen and (max-width: 1140px) {
  footer {
    padding: 0 16rem !important;
  }
  footer .footerInner {
    padding-top: 16rem;
  }
}
@media screen and (max-width: 740px) {
  footer {
    padding: 0 8rem !important;
  }
  footer .footerInner {
    padding-top: 8rem;
  }
}
