@import './_app.css';

header {
  margin-bottom: 10px;
  text-align: center;
}

header .header {
  font-family: 'Bungee', cursive;
  font-size: 60px;
}

header .subheader {
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

header a.link {
  color: #ff1769;
  text-decoration: none;
}

header a.link:hover {
  border-bottom: 2px solid #000;
  text-decoration: none;
}

@media screen and (max-width: 1140px) {
  header .header {
    font-size: 30px;
  }
}
