h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bungee', cursive;
}

span.bungee {
  font-family: 'Bungee', cursive;
}

.app {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.header {
  font-family: 'Bungee', cursive;
  font-size: 60px;
}
.subheader {
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

a.link {
  color: #ff1769;
  text-decoration: none;
}

a.link:hover {
  border-bottom: 2px solid #000;
  text-decoration: none;
}

.select-container select {
  -webkit-appearance: none;
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #ff1769;
  cursor: pointer;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  max-width: 210px;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-container select:focus {
  outline: none;
}
