@import './_app.css';

.pageLoading .container {
  opacity: var(--isFinished);
  transition: opacity var(--animationDuration) linear;
}
.pageLoading .bar {
  background: #29d;
  height: 6px;
  left: 0;
  margin-left: calc((-1 + var(--progressValue)) * 100%);
  position: fixed;
  top: 0;
  transition: margin-left var(--animationDuration) linear;
  width: 100%;
  z-index: 1031;
}

.pageLoading .spinner {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -4px);
  width: 100px;
}
