@import './_app.css';

.pageLoading .container {
  opacity: 0;
}
.pageLoading .container.loading {
  opacity: 1;
  transition: opacity var(--animationDuration) linear;
}
.pageLoading .bar {
  background: #29d;
  height: 6px;
  left: 0;
  margin-left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}
.pageLoading .container.loading .bar {
  animation: progressUp var(--animationDuration) linear;
  margin-left: 0%;
}

@keyframes progressUp {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

.pageLoading .spinner {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -4px);
  width: 100px;
}
